:root {
  --primary: #a8e6cf;
  --secondary: #dcedc1;
  --foreground: #1b5e20;
  --text-breadcrumb-primary: #000000;
  --text-breadcrumb-secondary: #444444;
}

.breadcrumb {
  padding: 10px 0;
}
.breadcrumb {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

.breadcrumb h4 {
  color: var(--foreground);
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb span {
  color: var(--text-breadcrumb-secondary);
}
