:root {
  --primary: #a8e6cf;
  --secondary: #dcedc1;
  --foreground: #1b5e20;
  --text-primary-footer: #000000;
  --text-secondary-footer: #444444;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.footer p {
  color: var(--text-secondary-footer);
}

.footer a {
  text-decoration: none;
  color: var(--text-secondary-footer);
}
.footer a:hover {
  text-decoration: underline;
}

.footer .medsos {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: space-between;
}

.medsos .back-home {
  text-align: right;
}

.footer .medsos ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.footer i.icon {
  font-size: 1.5rem;
  color: var(--foreground);
}
