@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary: #a8e6cf;
  --secondary: #dcedc1;
  --foreground: #1b5e20;
  --text-primary: #f4f4f4;
  --text-secondary: #444444;
}

/* Section kontak */
.section-kontak-1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  flex: 1;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.section-kontak-1 .grid-container {
  display: grid;
  width: 100%;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.section-kontak-1 .grid-container .todo-container {
  grid-column: span 2;
}

.todo-container h2 {
  font-size: 2rem;
  color: var(--foreground);
}

.todo-container .detail,
.form-container .detail {
  margin-bottom: 2rem;
}

.todo-container .list-todo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.todo-container .list-todo .todo {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.todo-container .list-todo .todo:hover {
  transform: translateY(-6px);
}

.todo-container .todo h3 {
  color: var(--foreground);
}

.todo-container .detail p,
.todo-container .todo p {
  color: var(--text-secondary);
}

.form-container h2 {
  color: var(--foreground);
  font-size: 2rem;
}

.section-kontak-1 form {
  max-width: 500px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.18s ease;
}

.section-kontak-1 form:hover {
  transform: translateY(6px);
}

/* Styling form */
.floating-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 2rem auto;
}

.form-group {
  position: relative;
  margin-bottom: 1.3rem;
}

.form-group label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--text-secondary);
  transition: all 0.2s ease-in-out;
  padding: 0 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid var(--text-secondary);
  background: transparent;
  font-size: 1rem;
}

.form-group textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 4rem;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  transform: translateY(-25px);
  font-size: 0.8rem;
  color: #1b5e20;
  background: none;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #1b5e20;
  background: none;
}

.section-kontak-1 button {
  font-size: 1rem;
  color: var(--foreground);
  font-weight: 600;
  width: 100%;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  background: var(--primary);
  transition: all 0.3s ease;
}

.section-kontak-1 button:active {
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3),
    inset -4px -4px 5px rgba(255, 255, 255, 0.1);
  transform: scale(0.98);
}

form #msg {
  color: var(--foreground);
}

form .hidden {
  display: none;
  margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 720px) {
  .section-kontak-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-kontak-1 .grid-container {
    display: grid;
    width: 100%;
    gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .todo-container .list-todo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 2rem;
  }

  .form-container {
    margin-bottom: 2rem;
  }
}
