:root {
  --navbar: linear-gradient(to right, #a8e6cf, #dcedc1);
  --list-item: #1b5e20;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar);
  padding: 0 4rem;
  box-shadow: 8px 0 4px 4px rgba(0, 0, 0, 0.15);
}

.navbar {
  width: 50%;
}

.navbar .nav-list {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  list-style-type: none;
}

.navbar .nav-list .list-item a {
  text-decoration: none;
  color: var(--list-item);
  font-size: 18px;
  font-weight: 500;
}

.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.nav .logo h1 {
  font-size: 24px;
  color: var(--list-item);
}

.nav .logo img {
  width: 50px;
  border-radius: 4px;
}

.container {
  margin: 0 4rem;
}
